/* Flexbox sticky footer work from https://css-tricks.com/forums/topic/flexbox-sticky-footer/ */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

header, footer {
  background: #ccc;
  h1 {
    padding: 10px;
    margin: 0;
  }
}

/* .container isn't 100% width, creating my own .full class */
.full {
  margin: 0 auto;
  width: 100%;
}

.center {
  text-align: center;
}

.centered {
    width: 50%;
    margin: 0 auto;
}

.full-height {
  height:  100%;
  overflow: scroll;
}
/* Mac doesn't show scroll bars... grr */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.contentholder {
  padding: 10px;
  overflow: auto;
}
.content-center {
	border: 1px solid black;
	float: top;
	height: auto;
	width: auto;
	overflow: auto;
}