/* Flexbox sticky footer work from https://css-tricks.com/forums/topic/flexbox-sticky-footer/ */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

header, footer {
  background: #ccc;
  h1 {
    padding: 10px;
    margin: 0;
  }
}