.contentholder {
	padding: 10px;
}
.page {
}

.content-left {
	float: left;
	min-width: 250px;
	height: 500px;
}

.main-center {
	float: left;
}

.logLine {
	font-weight: bold;
}

.oldLogLine {
	color: gray;
}

.terrainSelect {
	width: 300px
}

.content-center {
	border: 1px solid black;
	float: top;
	height: 500px;
	width: 500px;
	overflow: scroll;
}

.clearEvent {
	float: bottom;
}

.content-right {
	float: left;
	min-width: 250px;
	height: 500px;
}

.footer {
}

.footer-left {
	float: left;
}

.footer-center {
  float: left;
}

table.terrainTable, table.terrainTable th, table.terrainTable td {
   border: 1px solid black;
}

.clearer {
	clear: both;
}

.tooltip {
  text-decoration: underline;
}

a:hover, a:active {
  color: #B72801;
  background-color: transparent;
  text-decoration: underline;
}