.contentholder {
	padding: 10px;
  overflow: auto;
}
.page {
}

.content-left {
	float: left;
	min-width: 250px;
	height: 300px;
}

.main-center {
	float: left;
}

.logLine {
	font-weight: bold;
}

.oldLogLine {
	color: gray;
}

.terrainSelect {
	width: 300px
}

.content-center {
	border: 1px solid black;
	float: top;
	height: 300px;
	width: 500px;
	overflow: auto;
}

.clearEvent {
	float: bottom;
}

.content-right {
	float: left;
	min-width: 100px;
	height: 300px;
}

.content-craft {
	float: left;
	min-width: 100px;
	height: 300px;
}
.content-build {
	float: left;
	min-width: 100px;
	height: 300px;
}

.footer {
}

.footer-left {
	float: left;
}

.footer-center {
  float: left;
}

.footer-right {
	float: left;
}

#categoryListContainer {
	min-width: 350px;
	
}

/*
table.terrainTable, table.terrainTable th, table.terrainTable td {
   border: 1px solid black;
}*/

.clearer {
	clear: both;
}

.tooltip {
  text-decoration: underline;
}

a:hover, a:active {
  color: #B72801;
  background-color: transparent;
  text-decoration: underline;
}

#progressbar {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    line-height: 30px;
}

/*.ui-progressbar {
    position: relative;
  text-align: center;
}*/

.progress-label {
  /*position: absolute;
  left: 30%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;*/
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: middle;
}

#internalMapContainer {
  height: 400px;
  width: 400px;
}

/* dont want someone rapidly clicking to highlight everything */
div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}